.xp-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mt-0 {
    margin-top: 0;
}
.website {
    float: right;
}

.company-logo {
    width: 20px;
    height: 20px;
    margin-left: 0.5rem;
}

.ext-title {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.company {
    font-size: 1.2rem;
}

.desc {
    margin-top: 1.3em;
}