.xp-info {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: flex-end;
    grid-template-areas:
        "title year"
        "company website";
    grid-gap: 1.3em;
    margin-bottom: 1em;
}

.company {
    grid-area: company;
    font-family: Poppins, sans-serif;
}

.year {
    grid-area: year;
    white-space: nowrap;
}

.ext-website {
    grid-area: website;
    justify-self: end;
    align-self: center;
    white-space: nowrap;
}

.mt-0 {
    margin-top: 0;
}

.company-logo {
    width: 20px;
    height: 20px;
    margin-left: 0.5rem;
    border-radius: 25%;
}

.dark-mode .company-logo {
    filter: grayscale(100%) invert(1);
}

.ext-title {
    grid-area: title;
    font-size: 1.2rem;
    font-weight: 700;
}

.company {
    font-size: 1.2rem;
}

.desc {
    margin-top: 1.3em;
}