.App-header {
        font-family: "Kay Pho Du", serif;
        font-weight: 400;
        font-style: normal;
        margin-bottom: 5em;
}

.name {
        font-family: "Kay Pho Du", serif;
        text-align: center;
}

.App-header h1 {
        font-size: 4rem;
}

.profile-picture {
        width: 170px;
        height: 170px;
        margin: 0 auto;
        display: block;
        border: 3px solid var(--primary-color);
        border-radius: 50%;

}

.md-text {
        font-size: 3rem !important;
}

@media screen and (max-width: 768px) {
        .App-header h1 {
                font-size: 3rem;
        }
        .profile-picture {
                width: 145px;
                height: 145px;
        }
}