#features {
    display: grid;
    grid-template-areas: "f-title f-image"
                                     "f-list f-image"
}

@media screen and (max-width: 768px) {
    #features {
        grid-template-areas: "f-title"
                                            "f-list"
                                         "f-image"
    }
    .f-list > li {
        margin-bottom: 5px;
    }

    #features > img {
        justify-self: unset;
    }

}

.f-title {
    grid-area: f-title;
}

 .f-image {
    grid-area: f-image;
     max-width: 300px;
     align-self: center;
     justify-self: flex-end;
 }

 .f-list {
        grid-area: f-list;
 }
 .f-list > li {
     margin-bottom: 20px;
 }