.App {
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-areas: "SidebarMenu Content .";
}
html {
    scroll-behavior: smooth;
}

.SidebarMenu {
    grid-area: SidebarMenu;
}
.Content {
    grid-area: Content;
}


a:hover {
    opacity: 0.8;
}
a {
    text-decoration: none;
    color: unset;
}