.project-card {
    border: 2px solid;
    border-radius: 20px;
    margin: 20px 10px;
    padding: 10px;
}

.project-image {
    max-width: 150px;
    max-height: 150px;
    border-radius: 10%;
}

.project-header {
    display: flex;
    justify-content: space-between;
}

.project-date {
    margin-right: 15px;
    margin-top: 15px;
}